continut/resurse/persoane.dtd

<!ELEMENT persoane (persoana+)>

<!ELEMENT persoana (nume, prenume, varsta, DateCV, adresa)>
<!ATTLIST persoana id CDATA #REQUIRED>

<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>

<!ELEMENT DateCV (experienta_profesionala, Educatie, Limbi_straine, Competente_digitale, Info_suplimentare)>

<!ELEMENT experienta_profesionala (#PCDATA)>
<!ELEMENT Educatie (#PCDATA)>
<!ELEMENT Limbi_straine (#PCDATA)>
<!ELEMENT Competente_digitale (#PCDATA)>
<!ELEMENT Info_suplimentare (#PCDATA)>

<!ELEMENT adresa (strada, numar, localitate, judet, tara)>

<!ELEMENT strada (#PCDATA)>
<!ELEMENT numar (#PCDATA)>
<!ELEMENT localitate (#PCDATA)>
<!ELEMENT judet (#PCDATA)>
<!ELEMENT tara (#PCDATA)>
